:root {
  --3b-green: #00ca72;
  --3b-grey: #fafafa;
  --3b-header-height: 133.5px;
}

body {
    font-size: 0.8125rem;
    background: white;
}

.app.viewport {
    position: relative;
    z-index: 1;
}

.main {
    position: relative;
    display: flex;
    background: var(--3b-grey);
}

div.content {
    flex: 2;
    position: relative;
    overflow: auto;
    min-height: calc(100vh - var(--3b-header-height));
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.content-inner {
    flex: 2;
    position: relative;
    display: flex;
}